
@{

}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
            <h4 class="mb-sm-0">Companies</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a href="javascript: void(0);">Manage</a>
                    </li>
                    <li class="breadcrumb-item active">Companies</li>
                </ol>
            </div>
        </div>
    </div>
</div>
 
 

<div class="row">
    <div class="col-xxl-12">
       
        <div class="card">
            <div class="card-body">
                <p class="text-muted">
                   All Companies
                </p>
            </div>
            <div class="border">
                <ul class="nav nav-pills custom-hover-nav-tabs">
                    <li class="nav-item">
                        <a href="#custom-hover-customere"
                           data-bs-toggle="tab"
                           aria-expanded="false"
                           class="nav-link active">
                            <i class="ri-user-fill nav-icon nav-tab-position"></i>
                            <h5 class="nav-titl nav-tab-position m-0">
                                All
                            </h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#custom-hover-description"
                           data-bs-toggle="tab"
                           aria-expanded="true"
                           class="nav-link">
                            <i class="ri-file-text-line nav-icon nav-tab-position"></i>
                            <h5 class="nav-titl nav-tab-position m-0">
                                Verified
                            </h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#custom-hover-reviews"
                           data-bs-toggle="tab"
                           aria-expanded="false"
                           class="nav-link">
                            <i class="ri-star-half-line nav-icon nav-tab-position"></i>
                            <h5 class="nav-titl nav-tab-position m-0">Pending</h5>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content text-muted">
                    <div class="tab-pane show active"
                         id="custom-hover-customere">
                            

                          </div>
                    <div class="tab-pane" id="custom-hover-description">
                        <h6>Description</h6>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col">Title</th>
                                        <th scope="col">Categories</th>
                                        <th scope="col">Author</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Building Web Apps With Wordpress</td>
                                        <td>Web, Wordpress, Design</td>
                                        <td>Lucia Victor</td>
                                    </tr>
                                    <tr>
                                        <th>Information Technology</th>
                                        <td>Management, Manager, Design</td>
                                        <td>Arora Sumita</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="custom-hover-reviews">
                        <h6>Customer Reviews</h6>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Location</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Ratings</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Luke Brown</td>
                                        <td>New York</td>
                                        <td>$745</td>
                                        <td>
                                            4.4
                                            <i class="ri-star-s-fill ms-1 text-warning align-middle"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Matilda Walker</td>
                                        <td>USA</td>
                                        <td>$87.125</td>
                                        <td>
                                            2.7
                                            <i class="ri-star-s-fill ms-1 text-warning align-middle"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card-body -->
        </div>
    </div>
    <!--end col-->

    
</div>
 