@model CreateEmployeeVM;
@{
    ViewData["Title"] = "Add New Employee";
}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
            <h4 class="mb-sm-0">Add Employee</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Company</a></li>
                    <li class="breadcrumb-item active">Create Employee</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                 <form asp-action="StoreEmployee" asp-controller="Employee" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="project-title-input" asp-for="FullName"></label>
                    <input asp-for="FullName" class="form-control" id="project-title-input" placeholder="Enter employee name">
                    <span class="text-danger" asp-validation-for="FullName"></span>
                </div>
                <div class="mb-3">

                    <label class="form-label" for="project-title-input" asp-for="Email"></label>
                    <input type="text" asp-for="Email" class="form-control" id="project-title-input" placeholder="">
                    <span class="text-danger" asp-validation-for="Email"></span>

                </div> 
                <div class="mb-3">

                    <label class="form-label" for="project-title-input" asp-for="PhoneNumber"></label>
                    <input type="text" asp-for="PhoneNumber" class="form-control" id="project-title-input" placeholder="">
                    <span class="text-danger" asp-validation-for="PhoneNumber"></span>

                </div>
                <div class="mb-3">

                    <label class="form-label" for="project-title-input" asp-for="Password"></label>
                    <input type="text" asp-for="Password" class="form-control" id="project-title-input" placeholder="">
                    <span class="text-danger" asp-validation-for="Password"></span>

                </div>
                <div class="mb-3">

                    <label class="form-label" for="project-title-input" asp-for="ConfirmPassword"></label>
                    <input type="text" asp-for="ConfirmPassword" class="form-control" id="project-title-input" placeholder="">
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>

                </div>
                    <div class="col-lg-4">
                        <div class="mb-3 mb-lg-0">
                            <label for="choices-status-input" class="form-label" asp-for="IsActive"></label>
                            <select class="form-select"  id="choices-status-input" asp-for="IsActive">
                                
                                <option value="" selected>Click to select</option>
                                <option value="true" >Active</option>
                                <option value="false">In Active</option>
                            </select>
                        <span class="text-danger" asp-validation-for="IsActive"></span>

                        </div>
                    </div>
                    <div class="mb-3">
                          <!-- end card -->
                       <div class="text-end"> 
                           <button type="submit" class="btn btn-success w-sm">Create</button>
                       </div>
                    </div> 
            </form>

            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->      
    </div>  
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />

    }
