@model CreateEmployeeVM;
@{
    ViewData["Title"] = "Add New Employee";

    var GenderList = new List<string> {"Male", "Female"};

    var DesignationList = new List<string>{"Chief Executive Officer (CEO)","Chief Operations Officer (COO)","Chief Financial Officer (CFO)","Chief Technology Officer (CTO)",
    "Chief Marketing Officer (CMO)","General Manager","Operations Manager","Finance Manager","Human Resources Manager","IT Manager","Marketing Manager",
    "Sales Manager","Product Manager","Business Analyst","Software Engineer","Network Administrator","Database Administrator","HR Executive","Accountant",
    "Sales Executive","Marketing Executive","Customer Support Representative","Administrative Assistant","Receptionist","Office Clerk","Intern"
};

}
@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        .custom-dropdown {
            border: 1px solid #007bff;
            border-radius: 5px;
        }
    </style>
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
            <h4 class="mb-sm-0">Add Employee</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Company</a></li>
                    <li class="breadcrumb-item active">Create Employee</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                 <form asp-action="StoreEmployee" asp-controller="Employee" method="post" enctype="multipart/form-data">
                <div class="row">
                <div class="mb-3 col-md-8">
                    <label class="form-label" for="project-title-input" asp-for="FullName"></label>
                    <input asp-for="FullName" class="form-control" id="project-title-input" placeholder="Enter employee name">
                    <span class="text-danger" asp-validation-for="FullName"></span>
                </div>
                <div class="mb-3 col-md-4">

                    <label class="form-label" for="project-title-input" asp-for="Email"></label>
                    <input type="text" asp-for="Email" class="form-control" id="project-title-input" placeholder="">
                    <span class="text-danger" asp-validation-for="Email"></span>

                </div> 
                <div class="mb-3 col-md-4">

                    <label class="form-label" for="project-title-input" asp-for="PhoneNumber"></label>
                    <input type="text" asp-for="PhoneNumber" class="form-control" id="project-title-input" placeholder="">
                    <span class="text-danger" asp-validation-for="PhoneNumber"></span>

                </div> 
                <div class="mb-3 col-md-4">

                    <label class="form-label" for="project-title-input" asp-for="PinNo"></label>
                    <input  asp-for="PinNo" class="form-control" id="project-title-input" placeholder="">
                    <span class="text-danger" asp-validation-for="PinNo"></span>

                </div> 
                <div class="mb-3 col-md-4">

                    <label class="form-label" for="project-title-input" asp-for="IdNo"></label>
                    <input  asp-for="IdNo" class="form-control" id="project-title-input" placeholder="">
                    <span class="text-danger" asp-validation-for="IdNo"></span>

                </div> 
                <div class="mb-3 col-md-4">

                    <label class="form-label" for="project-title-input" asp-for="NssfNo"></label>
                    <input  asp-for="NssfNo" class="form-control" id="project-title-input" placeholder="">
                    <span class="text-danger" asp-validation-for="NssfNo"></span>

                </div>
                <div class="mb-3 col-md-4">

                    <label class="form-label" for="project-title-input" asp-for="NhifNo"></label>
                    <input  asp-for="NhifNo" class="form-control" id="project-title-input" placeholder="">
                    <span class="text-danger" asp-validation-for="NhifNo"></span>

                </div> 
                <div class="mb-3 col-md-4">

                    <label class="form-label" for="project-title-input" asp-for="ShaNo"></label>
                    <input  asp-for="ShaNo" class="form-control" id="project-title-input" placeholder="">
                    <span class="text-danger" asp-validation-for="ShaNo"></span>

                </div> 
                <div class="mb-3 col-md-4">

                    <label class="form-label" for="project-title-input" asp-for="BasicPay"></label>
                    <input  asp-for="BasicPay" class="form-control" id="project-title-input" placeholder="">
                    <span class="text-danger" asp-validation-for="BasicPay"></span>

                </div> <div class="mb-3 col-md-4">

                    <label class="form-label" for="project-title-input" asp-for="HouseAllowance"></label>
                    <input  asp-for="HouseAllowance" class="form-control" id="project-title-input" placeholder="">
                    <span class="text-danger" asp-validation-for="HouseAllowance"></span>

                </div>
                        <div class="col-lg-4 mb-3">
                            <label for="choices-status-input" class="form-label" asp-for="IsActive"></label>
                            <select class="form-select" id="choices-status-input" asp-for="IsActive">

                                <option value="" selected>Click to select</option>
                                <option value="true">Active</option>
                                <option value="false">In Active</option>
                            </select>
                            <span class="text-danger" asp-validation-for="IsActive"></span>

                        </div>
              
                <div class="mb-3 col-md-4">

                    <label class="form-label"  asp-for="Gender"></label>
                       <select class="form-control" asp-for="Gender">
                            <option value="">Click to select</option>
                                @foreach(var type in @GenderList)
                                {
                                    <option value="@type">@type</option>
                                }
                            </select>
                     <span class="text-danger" asp-validation-for="Gender"></span>

                </div>
                <div class="mb-3 col-md-4">

                    <label class="form-label"  asp-for="Designation"></label>
                       <select class="form-control select2" asp-for="Designation">
                            <option value="">Click to select</option>
                                @foreach(var type in DesignationList)
                                {
                                    <option value="@type">@type</option>
                                }
                            </select>
                     <span class="text-danger" asp-validation-for="Designation"></span>

                </div>
                        <div class="mb-3 col-md-4">

                            <label class="form-label" for="project-title-input" asp-for="Password"></label>
                            <input type="text" asp-for="Password" class="form-control" id="project-title-input" placeholder="">
                            <span class="text-danger" asp-validation-for="Password"></span>

                        </div>
                        <div class="mb-3 col-md-4">

                            <label class="form-label" for="project-title-input" asp-for="ConfirmPassword"></label>
                            <input type="text" asp-for="ConfirmPassword" class="form-control" id="project-title-input" placeholder="">
                            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>

                        </div>
                   
                    <div class="mb-3"> 
                       <div class="text-end"> 
                           <button type="submit" class="btn btn-success w-sm">Create</button>
                       </div>
                    </div> 
            </div>
            </form>

            </div> 
        </div>  
    </div>  
    @section Scripts {
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
        <partial name="_ValidationScriptsPartial" />
        <script>
            $('.select2').select2({
                placeholder: "Click to select",
                allowClear: true,
                width: '100%',
                height: '48px'
            });
        </script>

    }
